<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="../img/logo.png" alt="">

    </div>    
    {{>footer}}
</body>

</html>